<html>
    <head>
      <title>A Leaflet map!</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>

        <div>Microblog: <a href="/index">Home</a></div>
        
        <hr>
        {% block content %}
        {% block data %} {% endblock %}
        {% endblock %}
    </body>
</html>